.App {
  text-align: center;
}


.weatherapp {
  min-height: 100vh;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


html {
  font-family: 'Roboto Slab', sans-serif;
}

body {
  background: #A3D8F4;
  color:#7579E7;
}

img {
  max-width: 100%;
}
